* {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: 4fr 4fr;
  /* grid-gap: 1em; */
}
#companies,
#wrapper,
#inputInvestment,
#results {
  width: 47vw;
  height: 47vh;
  margin: 1em;
}

#companies {
  background-color: rgb(83, 83, 85, 0.3);
}

#wrapper {
  background-color: rgb(89, 128, 128, 0.3);
}

#inputInvestment {
  background-color: rgb(149, 129, 168, 0.3);
}

#results {
  background-color: rgb(165, 177, 165, 0.3);
}

/* div {
  width: 4em;
  height: auto;
} */

.masonary {
  /* column-count: 8; */
  /* column-gap: 3em; */
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
}

.masonary div {
  width: 6vw;
  height: 8vh;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#output {
  padding: 2em;
  text-align: center;
}

.masonary img {
  width: 55%;
}

.masonry div img {
  width: 4em;
  height: auto;
  cursor: pointer;
}

.masonry div:hover {
  background-color: grey;
  z-index: 10;
}

#years {
  display: grid;
  grid-template-rows: 3fr 3fr 3fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* input[type="radio"] {
  display: none;
} */

.selected {
  background-color: aqua;
  color: #0b0638;
}

button {
  background-color: #0b0638;
  color: #fff;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.years {
  text-align: center;
  padding: 1em;
  /* border: solid 1px; */
  -webkit-appearance: button;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  /* cursor: pointer; */
  -webkit-appearance: none;
}

input[name="toggleRadio"] {
  display: none;
}
/* 
input[type="radio"][name="toggleRadio"]:checked {
  background-color: rgb(128, 68, 0);
  color: white;
} */

.toChoose {
  /* -webkit-transform: scale(1.3); */
  /* transform: scale(1.3); */
  background-color: grey;
  color: rgb(32, 30, 30);
}

.toChoose:hover {
  background-color: rgb(148, 194, 148);
  color: white;
}

.toChoose:checked {
  background-color: red;
  color: white;
}

/* #companies img{
  width:20%;
} */
/* .hoverZoom {
  width: 300px;
  height: auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hoverzoom:hover {
  width: 6em;
} */

/* input[type="number"] {
  display: block;
  margin: 100 auto;
} */

.currencyinput {
  border: 1px inset #ccc;
}
.currencyinput input {
  border: 0;
}

#years input:checked + .toChoose {
  background-color: red;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  #container {
    display: block;
  }

  #wrapper,
  #inputInvestment,
  #results {
    width: 100%;
    height: auto;
    margin: 1em;
  }

  #companies {
    width: 100%;
    height: auto;
  }

  .masonary {
    /* column-count: 8; */
    /* column-gap: 3em; */
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
  }

  .masonary div {
    width: 16vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
}
